@* Views/Shared/_PayrollList.cshtml *@
<div class="card widget-card">
    <div class="card-header widget-header">
        <h6 class="mb-0">Payroll</h6>
        <small class="text-muted">Recent payslips</small>
    </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li class="py-2 d-flex justify-content-between border-bottom">
                <div>
                    <strong>Oct 15, 2025</strong>
                    <div class="small text-muted">Net: $4,200</div>
                </div>
                <div><a href="#" class="link-underline">Download</a></div>
            </li>
            <li class="py-2 d-flex justify-content-between border-bottom">
                <div>
                    <strong>Sep 15, 2025</strong>
                    <div class="small text-muted">Net: $4,200</div>
                </div>
                <div><a href="#" class="link-underline">Download</a></div>
            </li>
        </ul>
    </div>
</div>
